/** global */
body, html{ height:100%; -webkit-tap-highlight-color:transparent; }
.app-title{ text-align:center; font-size:0.75rem; color:#3CC51F; font-weight:400; margin:0 5%; }
.app-sub-title{ text-align:center; color:#888; font-size:14px; }
.app-header{ padding:25px 0; }
.app-content-padded{ padding:15px; }
.app-second-title{ text-align:center; font-size:24px; color:#3CC51F; font-weight:400; margin:0 15%; }
.app-hide{ display:none; }
/** footer */
footer{ text-align:center; font-size:14px; padding:20px; }
footer a{ color:#999; text-decoration:none; }
/** weui extends */
.weui-cells{margin: 0 0.01rem;font-size:14px;}
.weui-select-modal .weui-cells{max-height:10rem;}
.toolbar{line-height:1.5rem;}
.toolbar .toolbar-inner{ height:1.25rem; font-size:14px; }
.toolbar .picker-button{ height:1.25rem; line-height:1.25rem; font-size:14px; }
.toolbar, .toolbar .title{ font-size:14px }
.toolbar .title{ line-height:1.25rem; }
/**/
.weui-picker-modal .picker-items{ font-size:14px; }
.weui-picker-modal .picker-item{ padding:0 0.55rem }
.weui-picker-modal{ height:auto;bottom:0; }
/**/
.weui-picker-modal .weui-cell__bd{width:80%}
.weui-cells:after, .weui-cells:after{}
/*.weui-picker-modal .picker-center-highlight{top:30%;margin-top:-32px}*/
.weui-tabbar{position:fixed;}
.weui-switch, .weui-switch-cp__box{width:42px;height:22px;border-radius:16px;}
.weui-switch-cp__box:before, .weui-switch:before{width:40px;height:20px;border-radius:10px;}
.weui-switch-cp__box:after, .weui-switch:after{width:20px;height:20px;border-radius:10px;}

.picker-calendar-month-picker, .picker-calendar-year-picker{height:1rem;line-height:1rem;}
.picker-calendar-month-picker a.icon-only, .picker-calendar-year-picker a.icon-only{height:1rem;line-height:1rem;}
.picker-calendar-month-picker .current-month-value, .picker-calendar-month-picker .current-year-value, .picker-calendar-year-picker .current-month-value, .picker-calendar-year-picker .current-year-value{height:1rem;}
i.icon.icon-next, i.icon.icon-prev{width:.5rem;height:.5rem;}
.picker-calendar-week-days{height:1rem;}
.picker-calendar-week-days+.picker-calendar-months{height:5rem;}
.weui-picker-calendar .picker-modal-inner{height:6.5rem;}
